body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 40px;
  margin-top: 50px;
  border-radius: 8px;
}

h1 {
  color: #1f2933;
}

p {
  line-height: 1.6;
}

nav {
  margin-bottom: 30px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #1f2933;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
