body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 40px;
  margin-top: 50px;
  border-radius: 8px;
}

h1 {
  color: #1f2933;
}

p {
  line-height: 1.6;
}
